body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: large;
  margin-bottom: 0;
}

ul {
  margin: 0 auto;
  padding: 0 auto;
  list-style-type: none;
  display: inline;
}

li {
  list-style: none;
  padding: 0 auto;
  margin: 0 auto;
}
.col-2 {
  flex: 0 auto;
  width: 20%;
}
.row {
  text-align: center;
}
