body {
  background-image: sky;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bolder;
  background: linear-gradient(#fff 30%, #5bc240);
}
h1 {
  text-align: center;
  font-size: 100px;
  margin: 0 auto;
  border-radius: 50px;
}
h2,
.overview {
  padding-left: 100px;
}

ul {
  margin: 0 auto;
  padding: 0 auto;
  list-style-type: none;
  display: inline;
}

li {
  list-style: none;
  padding: 0 auto;
  margin: 0 auto;
}
.col-2 {
  flex: 0 auto;
  width: 20%;
}
.row {
  text-align: center;
}
#background {
  position: relative;
}
.sky {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 300px;
}
.weather-forecast-temp-min,
.weather-date {
  opacity: 0.6;
}
